/*----------------------------------------------------------- General */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 30%;
  z-index: 1;
}

h2 {
  font-weight: 600;
  padding-top: 7rem;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/*-------------------------------------------------------------------------- Header-Navigation */

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

nav {
  background-color: #005792;
  border-bottom: 2px solid #edf9fc;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  margin: 10px;
  padding: 0.7rem;
  line-height: 0.1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #ffffff;
  transition-duration: 0.5s;
}

.navbar-light .navbar-nav .cv-nav-link:visited {
  color: #ffffff;
}

/*----------------------------------------------------------------------------------- Home */

.home-section {
  position: relative;
  background-image: url("../images/francesco-de-tommaso-unsplash1920-1080.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-section p {
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}

/*-------------------------------------------------------------------------- About Section */

.about-section {
  background-color: #53cde2;
}

.about-section p {
  margin: 40px 0px;
}

.about-section-picture {
  background-image: url("../images/about-picture-takafor-yannick.jpg");
  min-height: 80vh;
  background-size: cover;
  background-position: top;
}

/*--------------------------------------------------------------- PORTFOLIO-SECTION */

.portfolio-section {
  background-color: #d1fafa;
  padding-bottom: 80px;
}

.project1,
.project2,
.project3,
.project4 {
  position: relative;
  min-height: 300px;
  margin: auto;
  padding: 10px;
}

.project1,
.project4 {
  background-color: #8ab4f8;
}
.project2,
.project3 {
  background-color: #53cde2;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d1fafa;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.project1:hover .project-overlay {
  width: 100%;
}

.project2:hover .project-overlay {
  width: 100%;
}

.project3:hover .project-overlay {
  width: 100%;
}

.project4:hover .project-overlay {
  width: 100%;
}

.project-overlay-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
}

.project-overlay a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: #005792;
  border-radius: 5px;
  border: 1px solid #005792;
  width: 9rem;
  margin: 5px auto;
}

.project-overlay-btn {
  text-align: center;
}

/* ---------------------project overlay btn and contact form btn hover */
.project-overlay-btn:hover,
.contact-form-btn:hover {
  background-color: #005792;
  color: #ffffff;
}

.project-text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: normal;
}

/*------------------------------------------------------------------skills section */

.skills-section {
  background-color: #53cde2;
  padding-bottom: 100px;
}

label {
  padding-top: 1.5rem;
}

/*this works for microsoft edge */
.progress-level {
  height: 2.5rem;
  width: 100%;
  background-color: #ffffff;
  color: #8ab4f8;
  border: none;
}

/* progress level-done for mozila firefox */
.progress-level::-moz-progress-bar {
  background-color: #8ab4f8;
  border: none;
}

/* progress level-left for mozila firefox */
.progress-level::-moz-progress-value {
  color: #ffffff;
}

/* progress level-done for chrome and safari */
.progress-level::-webkit-progress-value {
  background-color: #8ab4f8;
}

/* progress level-left for chrome and safari */
.progress-level::-webkit-progress-bar {
  background: #ffffff;
}

/* ----------------------------------------------------------Contact section */

.contact-section {
  background-color: #d1fafa;
  padding-bottom: 3.5rem;
}

.contact-info {
  font-size: 1.2rem;
}

.contact-info-icons {
  padding-right: 0.6rem;
}

.contact-form {
  width: 100%;
  margin: 5px auto;
  padding: 4px;
  border: 1px solid #005792;
  border-radius: 5px;
  outline: none;
}

.contact-form:focus {
  background-color: #53cce2;
  border: 1px solid #005792;
  -moz-appearance: none;
}

/* --------------------------------------------------------------------------Footer */

footer {
  text-align: center;
  padding-top: 2.5rem;
  background-color: #005792;
  border-top: 2px solid #ffffff;
  height: 12rem;
}

footer a {
  display: inline-block;
  font-size: 2.1rem;
  border: 1px solid #edf9fc;
  padding: 12px;
  border-radius: 5px;
  background-color: #ffffff;
}

.footer-anchor-spacing {
  margin-left: 2%;
}

footer a:hover {
  color: white;
  background-color: #005792;
  transition-duration: 1s;
}

.copyright {
  padding-top: 1rem;
  color: #ffffff;
}

/* -----------------------------------------------------------------------Media Queries */

@media only screen and (max-width: 767px) {
  /* For mobile phones: */

  .about-section-picture {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  footer a {
    font-size: 1.5rem;
    padding: 8px;
  }
}
